body {
	background: rgb(27,27,27);
	margin: 0;
	display: grid;
	place-content: center;
	height: 100vh;
	font-family: 'poppins';
	color: white;
}

.container {
	position: relative;
	width: 60%;
	margin: 0 auto;
	background: #232323;
	padding: 2em;

	h1 {
		margin: 0;
	}

	p{
		color: gray;
	}
}

.btn {
	// background: #343434;

	//button trash animation 
	background: #ff5e5e;

	margin-top: .2em;
	border: none;
	// padding: 1em;

//button trash animation
	padding: .7em;
  	width: 160px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	outline: 0;
	cursor: pointer;

	&:hover {
		// background: #424242;
	}

	&:active {
		// background: orange;
		background: #cc4b4b;
	}
}

.svg {
	width: 200px;
	position: absolute;
	top: -40px;
	left: -30px;

	//button trash animation 
	// width: 300px;
 //  	position: absolute;
 //  	top: 158px;
 //  	left: -27px;

	// help to acsses to behind the svg div
	pointer-events: none;
}

// we whant to when click show object animation

.hide {
	// display: none;
}
